.DropdownItem {
    display: block;
    margin: 10px auto;
    padding: 16px 15px;
    font-size: 1.2rem;
    color: #868995;

    &:hover {
        color: #ee4266;
    }

    @media (min-width: 60rem) {
        padding: 0;
    }
}