.Carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.Slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.enter {
  left: 100%;
}

.enterActive {
  left: 0;
}

.exitActive {
  left: -100%;

}

.firstRun {
  transition: left 1s ease-in-out;
}