.Product {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;

    .ProductImg {
        width: 100%;
        overflow: hidden;
    }

    .ListImages {
        display: flex;
        width: 100%;
        margin-top: 10px;

        > div {
            width: 40px;
            height: 40px;

            > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            @media (min-width: 40rem) {
                width: 50px;
                height: 50px; 
            }
        }
    }

    @media (min-width: 40rem) {
        width: 25%;
        margin: 30px auto;
        padding: 0 15px;

    }
}
