.Layout {
    position: absolute;
    width: 100%;
    margin: 0;
    // height: 100vh;
    left: 0;
    right: 0;
    // top:0;
    // bottom:0;
    

    > main {
        text-align: center;
        margin-top: 70px;
        width: 100%;
        
        @media (min-width: 60rem) {
            max-width: 1400px;
            margin: 0 auto;
            
            margin-top: 90px;
        }
    }
}

.LayoutHidden {
    overflow: hidden;
    
    @media (min-width: 40rem) {
        padding-right: 16.8px;
    }
}



