.NavigationItem {
    display: block;
    width: 100%;
    align-items: center;
    
    a {
        display: block;
        text-decoration: none;
        padding: 16px 15px;
        font-size: 1.2rem;
        color: #868995;

        &:hover,
        &:active,
        &.active {
            color: #3d3f45;

        }
    }

    @media (min-width: 60rem) {
        display: flex;
        width: auto;
        margin: 0;
        margin: 10px 0;

        
        a {
            display: block;
            padding: 16px 15px;
            text-decoration: none;
            font-size: 1.2rem;
            color: #868995;
    
            &:hover,
            &:active,
            &.active {
                color: #3d3f45;
            }
        }
    }
}