.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 60px;
    background: #000;

    @media (min-width: 60rem) {
        height: 80px;
        padding: 0 59.6px;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        height: 100%;
        padding: 0 15px;

        @media (min-width: 60rem) {
            justify-content: space-evenly;
        }

        .Logo {
            height: 80%;
        }

        > nav {
            display: flex;
            height: 100%;
       
            @media (max-width: 60rem) {
                display: none; 
            }
        }
    }
}