.ProductInfo {
    width: 100%;

   > div {
       width: 100%;
       padding-top: 20px;

       > img {
           width: 100%;
           padding: 0 15px;

           @media (min-width: 40rem) {
               width: 80%;
           }
       }
   }

   .ProductInfo__Head {
        display: flex;
        border-bottom: 1px solid #ccc;
        flex-flow: wrap;

        .HeadImage {
            width: 100%;
            padding: 15px;

            > img {
                width: 100%;
            }

            @media (min-width: 768px) {
                width: 30%;
            }

        }

    .HeadInfo {
        width: 100%;

        > div {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            padding: 0 15px;

            .HeadInfo__Price {
                width: 100%;

                > h4 {
                    text-align: left;
                    font-size: 1.25rem;
                    margin: 10px;
                }

                > h5 {
                    text-align: left;
                    margin: 0 10px;
                    color: #ee4266;
                    font-size: 18px;
                }

                > ul {
                    width: 100%;
                    padding-left: 0;

                    > li {
                        display: flex;
                        align-items: center;
                        border-top: 1px solid #ccc;
                        padding: 5px 0;

                        > div:first-child {
                            width: 60%;
                            
                            > p {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                
                            }
                            // flex: 1;
                            text-align: left;
                        }

                        > div:nth-child(2) {
                            width: 20%;
                            flex-shrink: 1;
                            text-align: left;
                        }
                        // > div:nth-child(3) {
                        //     width: 20%;
                        //     flex-shrink: 1;
                        // }
                        > div:last-child {
                            width: 20%;
                            flex-shrink: 1;

                            > button {
                                background: #039be5;
                                padding: 10px 15px;
                                outline: none;
                                border: 1px solid #039be5;
                                
                                border-radius: 6px;
                                cursor: pointer;

                                &:hover,
                                &:active {
                                    background: #8a2be2;
                                    border: 1px solid #8a2be2;
                                    box-shadow: 0 7px 10px rgba(0, 0, 0, .3);
                                    transition: all 0.6s ease-in-out;
                                }

                            }
                        }
                    }
                }

                @media (min-width: 40rem) {
                    width: 70%;
                }

            }

            .HeadInfo__Descreption {
                width: 100%;
                padding: 0 15px;
                text-align: left;
                padding-bottom: 10px;

                @media (min-width: 40rem) {
                    width: 30%;
                    
                }
            }
        }

        > div:last-child {
            width: 100%;
            display: flex;
            border-top: 1px solid #ccc;


            > div {
                width: 30%;
                padding: 10px 15px;

                

                img {
                    width: 100%;
                    cursor: pointer;
                    border-radius: 5px;

                    &:hover {
                        background: #f5f5f5;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
                    }
                }

                @media (min-width: 40rem) {
                  width: 20%;  
                }
            }
        }

        @media (min-width: 768px) {
            display: flex;
            flex-flow: wrap;
            align-items: center;
            width: 70%;
        }
    }
   }
}