.Poster {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    .PosterItem {
        width: 100%;
        padding: 15px;
        
        > div {
            width: 100%;

            > h4 {
                margin: 20px 0 0.5rem;
                text-align: left;
                font-weight: normal;
                font-size: 1.5rem;
                color: #444;
                text-transform: uppercase;
            }

            > img {
                width: 100%;
            }
        }

        .ListImage {
            display: flex;

            > div {
                width: 25%;
                padding: 15px;

                > img {
                    width: 100%;
                }
            }
        }

        @media (min-width: 40rem) {
            width: 50%;
        }
    }
}

